body{
  background-image: url('https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask_mobile.jpg');
  background-size: cover;
  background-position: center;
}